.titleDetail {
    font-family  : 'Londrina Solid', cursive;
    font-size    : 1.8vw;
    line-height: 30px;
    text-align: center;
    color: white;
    grid-row: 1/2;
}

.contentDetail{
    font-family  : 'Noto Sans', sans-serif;
    font-size    : 1vw;
    color: white;

}
.full{
    width: calc(100%-1px);
    min-height: max-content;
    background-color: #141414;
    top:60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 79% 1%;
}

.imgDetail{
    grid-row: 1/4;
}
